#botonsuma{

    width: 100px;
    height: 100px;
    font-size: 60px;
    display: grid;
   
   
   
   
   
}
  
#botondividir{

    width: 100px;
    height: 100px;
    font-size: 60px;
    display: grid;
  
}
#botonmodular{

    width: 100px;
    height: 100px;
    font-size: 60px;
    display: grid;
   
}
#botonmultiplicar{
    width: 100px;
    height: 100px;
    font-size: 60px;
    display: grid;
   
}
#resultado{

    width: 100px;
    height: 100px;
    font-size: 60px;
}